<div class="container p-4">
  <!-- 掲示板一覧 -->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @road_stations.present? %>
          <%= render @road_stations %>
        <% else %>
          <div class="mb-3">登録がありません</div>
        <% end %>
      </div>
    </div>
  </div>
</div>